.menu.back {
  position: fixed;
  top: 100px;
  left: 600px;
  height: 28px;
  width: 48px;
  background: black;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0s;
  transition-timing-function: ease-in-out;
  transform: rotateZ(0deg); }
  .menu.back .f, .menu.back .s, .menu.back .t {
    height: 4px;
    width: 48px;
    background: white;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out; }
  .menu.back .f {
    margin-bottom: 8px; }
  .menu.back .t {
    margin-top: 8px; }
  .menu.back.mouseover {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transform: rotateZ(180deg); }
    .menu.back.mouseover .f {
      transform: translate(12px, 5px) rotate(45deg);
      width: 24.23529px; }
    .menu.back.mouseover .s {
      width: 32px; }
    .menu.back.mouseover .t {
      transform: translate(12px, -5px) rotate(-45deg);
      width: 24.23529px; }
  .menu.back.mouseout {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transform: rotateZ(360deg); }
    .menu.back.mouseout .f {
      transform: rotate(0deg); }
    .menu.back.mouseout .t {
      transform: rotate(0deg); }
