.x-text {
  position: fixed;
  top: 100px;
  left: 300px;
  height: 250px;
  width: 250px;
  background: blue; }
  .x-text .x-container {
    height: 250px;
    width: 250px;
    padding-top: 50px;
    position: relative; }
    .x-text .x-container .x-content {
      display: none;
      line-height: 50px;
      font-size: 50px; }
      .x-text .x-container .x-content .x-letter {
        float: left; }
      .x-text .x-container .x-content::after {
        content: "";
        clear: both; }
    .x-text .x-container .x-line {
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease-in;
      height: 1px;
      background: white;
      width: 0px;
      margin: 0 auto; }
    .x-text .x-container .x-line1 {
      margin-top: 25px; }
    .x-text .x-container .x-line2 {
      margin-top: -1px; }
    .x-text .x-container.t1 .x-line {
      width: 250px; }
    .x-text .x-container.t2 .x-line1 {
      margin-top: 0; }
    .x-text .x-container.t2 .x-line2 {
      margin-top: 50px; }
    .x-text .x-container.t3 .x-content {
      display: block; }
