$line-height:4px;
$line-margin:8px;
$line-width:48px;
$turn-time:0.3s;

.hamburger-arrow {
	position:fixed;
	top:100px;
	left: 600px;
	height: $line-height*3+$line-margin*2;
	width: $line-width;
	background: black;
	cursor: pointer;
	
	transition-property: all;
    transition-duration: 0s;
    transition-timing-function: ease-in-out;
    transform:rotateZ(0deg);


	.f, .s, .t {
		height:$line-height;
		width:$line-width;
		background:white;
		transition-property: all;
    	transition-duration: $turn-time;
    	transition-timing-function: ease-in-out;
	}

	.f {
		margin-bottom:$line-margin;
	}
	.t {
		margin-top:$line-margin;
	}
	
	&.arrow {

		transition-property: all;
	    transition-duration: $turn-time;
	    transition-timing-function: ease-in-out;
		transform:rotateZ(180deg);
		.f {
			transform:translate(12px,5px) rotate(45deg);
			width:($line-width/1.7)-4;
		}
		.s {
			width:($line-width/1.5);
		}
		.t {
			transform:translate(12px,-5px) rotate(-45deg);
			width:($line-width/1.7)-4;
		}
	}
	&.hamburger {
		transition-property: all;
	    transition-duration: $turn-time;
	    transition-timing-function: ease-in-out;
		transform:rotateZ(360deg);
		.f {
			transform: rotate(0deg);
		}
		.s {

		}
		.t {
			transform: rotate(0deg);
		}
	}




}
